<h3>Satellite Counts:</h3>
<div id="counter" (click)="satCounts()" class="counts">
   <div>Total: <span>{{counts.total}}</span></div>
   <div>Space Debris: <span>{{counts.debris}}</span></div>
   <div>Communication: <span>{{counts.communication}}</span></div>
   <div>Probe: <span>{{counts.probe}}</span></div>
   <div>Positioning: <span>{{counts.positioning}}</span></div>
   <div>Space Station: <span>{{counts.station}}</span></div>
   <div>Telescope: <span>{{counts.telescope}}</span></div>
</div>